/* Card formatting */

.item{
    margin-top: 4px;
    text-align: center;
    background: #f2f2f2;
    height: 100px !important;
}

img {
    max-width: 100%;
}

img.card {
    width: 100px;
}

.cards {
    margin: auto;
    text-align: center;
    padding: 200px 0;
}

.card {
    position: relative; 
}

input {
    position: relative;
}

/* Other formatting */
h1 {
    font-family: Helvetica, Arial, sans-serif;
    text-align: center;
}

.pseudocode-container {
    text-align: center;
  }
 
.pseudocode-container pre {
   display: inline-block;
   text-align: left;
}

.center {
    text-align: center;
    margin: 0 auto;
    left: 50%;
    font-family: Helvetica, Arial, sans-serif;
}

body {
    padding-bottom: 50px;
}


/* CSS animation classes */
.move-left {
    animation-name: animation-move-left;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}

.move-right {
    animation-name: animation-move-right;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
}
