/* Card formatting */

.item{
    margin-top: 4px;
    text-align: center;
    background: #f2f2f2;
    height: 200px !important;
}

img {
    max-width: 100%;
}

img.card {
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    -ms-box-shadow: none;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.cards {
    margin: auto;
    text-align: center;
    padding: 200px 0;
    
}

.card {
    position: relative; 
}

input {
    position: relative;
}

/* Other formatting */
h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

.center {
    text-align: center;
    margin: 0 auto;
    left: 50%;
    font-family: Georgia, 'Times New Roman', Times, serif
}


/* CSS animations */

/* Move left */
@keyframes animation-move-left {
    25% {transform: translateY(-150px);} /* Move card up */
    50% { transform: translateY(-150px) translateX(100px); } /* Move card over to the left */
    100% {transform: translateX(100px);} /* Move card down */
}

.move-left {
    animation-name: animation-move-left;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

/* Move right */
@keyframes animation-move-right {
    25% {transform: translateY(150px);} /* Move card down */
    50% { transform: translateY(150px) translateX(-100px); } /* Move card over to the right */
    100% {transform: translateX(-100px);} /* Move card down */
}

.move-right {
    animation-name: animation-move-right;
    animation-duration: 1.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}
